# Population et conditions sociales

## Population (niveau national) (t_demo_pop)

### Population par pays de naissance - personnes nés à l'étranger (tps00178)

#### Description de l'API
Nombre de personnes nées à l'étranger (selon les frontières actuelles), que ce soit dans d'autres États membres de l'UE ou dans des pays tiers, qui résident habituellement dans le pays déclarant au 1er janvier de l'année concernée.

### Dimensions du Dataset

- **Fréquence Temporelle**
  - Type : Annuel

- **Pays/Région de naissance**
  - Type : Pays étranger

- **Unité de Mesure**
  - Type : Nombre

- **Entité Géopolitique (reporting)**
  - **Entités** :
    - Union européenne - 27 pays (depuis 2020)
    - Zone euro – 20 pays (depuis 2023)
    - Zone euro - 19 pays (2015-2022)
    - Belgique
    - Bulgarie
    - République tchèque
    - Danemark
    - Allemagne
    - Estonie
    - Irlande
    - Grèce
    - Espagne
    - France
    - France métropolitaine
    - Croatie
    - Italie
    - Chypre
    - Lettonie
    - Lituanie
    - Luxembourg
    - Hongrie
    - Malte
    - Pays-Bas
    - Autriche
    - Pologne
    - Portugal
    - Roumanie
    - Slovénie
    - Slovaquie
    - Finlande
    - Suède
    - Islande
    - Liechtenstein
    - Norvège
    - Suisse
    - Royaume-Uni
    - Bosnie-Herzégovine
    - Monténégro
    - Moldavie
    - Macédoine du Nord
    - Géorgie
    - Albanie
    - Serbie
    - Türkiye
    - Ukraine
    - Kosovo*
    - Andorre
    - Biélorussie
    - Monaco
    - Russie
    - Saint-Marin
    - Arménie
    - Azerbaïdjan

- **Temps**
  - **Années** :
    - 2013
    - 2014
    - 2015
    - 2016
    - 2017
    - 2018
    - 2019
    - 2020
    - 2021
    - 2022
    - 2023
    - 2024

In [1]:
#Préparation des bibliothèques nécessaires
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, accuracy_score
import statsmodels.api as sm
from scipy import stats
import requests
import eurostat

In [2]:
df = eurostat.get_data_df('tps00178')
df.columns

Index(['freq', 'c_birth', 'age', 'unit', 'sex', 'geo\TIME_PERIOD', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022', '2023'],
      dtype='object')

In [3]:
df.head()

,freq,c_birth,age,unit,sex,geo\TIME_PERIOD,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,A,FOR,TOTAL,NR,T,AT,1322656.0,1364003.0,1414215.0,1483123.0,1588209.0,1649008.0,1690619.0,1722833.0,1760595.0,1792053.0,1834342.0,1963312.0
1,A,FOR,TOTAL,NR,T,BE,1677737.0,1722265.0,1748748.0,1783488.0,1845631.0,1876726.0,1916272.0,1968060.0,2027763.0,2065727.0,2119691.0,2246910.0
2,A,FOR,TOTAL,NR,T,BG,85076.0,95180.0,107275.0,120635.0,131924.0,139655.0,149096.0,162346.0,176321.0,188519.0,142214.0,168595.0
3,A,FOR,TOTAL,NR,T,CH,2033702.0,2102964.0,2183206.0,2258196.0,2324461.0,2391480.0,2432519.0,2469381.0,2509692.0,2553225.0,2598146.0,2662038.0
4,A,FOR,TOTAL,NR,T,CY,200313.0,200842.0,191587.0,176693.0,172808.0,173791.0,181369.0,185528.0,191415.0,200936.0,205798.0,208843.0

In [7]:
# Dictionnaire des abréviations et noms des pays en français
eurostat_dictionary = {
    
    'BE': 'Belgique',
    'BG': 'Bulgarie',
    'CZ': 'République tchèque',
    'DK': 'Danemark',
    'DE': 'Allemagne',
    'EE': 'Estonie',
    'IE': 'Irlande',
    'EL': 'Grèce',
    'ES': 'Espagne',
    'FR': 'France',
    'HR': 'Croatie',
    'IT': 'Italie',
    'CY': 'Chypre',
    'LV': 'Lettonie',
    'LT': 'Lituanie',
    'LU': 'Luxembourg',
    'HU': 'Hongrie',
    'MT': 'Malte',
    'NL': 'Pays-Bas',
    'AT': 'Autriche',
    'PL': 'Pologne',
    'PT': 'Portugal',
    'RO': 'Roumanie',
    'SI': 'Slovénie',
    'SK': 'Slovaquie',
    'FI': 'Finlande',
    'SE': 'Suède',
    'IS': 'Islande',
    'LI': 'Liechtenstein',
    'NO': 'Norvège',
    'CH': 'Suisse',
    'UK': 'Royaume-Uni',
    'ME': 'Monténégro',
    'MK': 'Macédoine du Nord',
    'AL': 'Albanie',
    'RS': 'Serbie',
    'TR': 'Türkiye',
    
}
# Renommer la colonne 'geo\\time' en 'geo'
df.rename({'geo\\TIME_PERIOD': 'geo'}, inplace=True, axis=1)
# Créer une nouvelle colonne 'pays' avec les noms des pays
df['pays'] = df['geo'].replace(eurostat_dictionary)
print(df.head())

  freq c_birth    age unit sex geo       2012       2013       2014  \
0    A     FOR  TOTAL   NR   T  AT  1322656.0  1364003.0  1414215.0
1    A     FOR  TOTAL   NR   T  BE  1677737.0  1722265.0  1748748.0
2    A     FOR  TOTAL   NR   T  BG    85076.0    95180.0   107275.0
3    A     FOR  TOTAL   NR   T  CH  2033702.0  2102964.0  2183206.0
4    A     FOR  TOTAL   NR   T  CY   200313.0   200842.0   191587.0

        2015       2016       2017       2018       2019       2020  \
0  1483123.0  1588209.0  1649008.0  1690619.0  1722833.0  1760595.0
1  1783488.0  1845631.0  1876726.0  1916272.0  1968060.0  2027763.0
2   120635.0   131924.0   139655.0   149096.0   162346.0   176321.0
3  2258196.0  2324461.0  2391480.0  2432519.0  2469381.0  2509692.0
4   176693.0   172808.0   173791.0   181369.0   185528.0   191415.0

        2021       2022       2023      pays
0  1792053.0  1834342.0  1963312.0  Autriche
1  2065727.0  2119691.0  2246910.0  Belgique
2   188519.0   142214.0   168595.0  Bulgarie
3  2553225.0  2598146.0  2662038.0    Suisse
4   200936.0   205798.0   208843.0    Chypre

In [8]:
# Pivoter le DataFrame jusqu'à 2023
df_melted = df.melt(id_vars=['pays', 'freq', 'c_birth', 'age', 'unit', 'sex', 'geo'], 
                    value_vars=[str(year) for year in range(2012, 2024)],  # Changer 2025 à 2024
                    var_name='année', value_name='valeur')

# Pivoter pour obtenir le format désiré
df_pivoted = df_melted.pivot_table(index='pays', columns='année', values='valeur', aggfunc='first')

# Remplacer NaN par la dernière valeur disponible pour chaque pays (forward fill)
df_pivoted = df_pivoted.ffill(axis=1)

# Réinitialiser l'index pour avoir un DataFrame standard
df_pivoted.reset_index(inplace=True)

# Afficher le résultat
print(df_pivoted)

année                pays       2012       2013       2014        2015  \
0               Allemagne  9117874.0  9456225.0  9807877.0  10220418.0
1                Autriche  1322656.0  1364003.0  1414215.0   1483123.0
2                Belgique  1677737.0  1722265.0  1748748.0   1783488.0
3                Bulgarie    85076.0    95180.0   107275.0    120635.0
4                  Chypre   200313.0   200842.0   191587.0    176693.0
5                 Croatie        NaN   569220.0   558092.0    545115.0
6                Danemark   531540.0   548411.0   569596.0    595876.0
7               EU27_2020        NaN        NaN        NaN  44279689.0
8                 Espagne  6294954.0  6165635.0  5952770.0   5883891.0
9                 Estonie   210842.0   198411.0   196558.0    194664.0
10               Finlande   260856.0   279743.0   297812.0    314856.0
11                 France  7463157.0  7543950.0  7746520.0   7915838.0
12                  Grèce  1312519.0  1279516.0  1265165.0   1242924.0
13                Hongrie   401769.0   423317.0   447029.0    475508.0
14                Irlande   772826.0   760960.0   754664.0    759256.0
15                Islande    34550.0    35319.0    37116.0     39072.0
16                 Italie  5022967.0  5220823.0  5355018.0   5383252.0
17               Lettonie   289018.0   279227.0   271126.0    265418.0
18          Liechtenstein    22794.0    23109.0    23424.0     23799.0
19               Lituanie   143675.0   138297.0   133746.0    131929.0
20             Luxembourg   216156.0   227461.0   237848.0    248888.0
21                  Malte    35121.0    43331.0    44019.0     52536.0
22                Norvège   619978.0   668178.0   709566.0    747423.0
23               Pays-Bas  1906295.0  1927728.0  1953436.0   1996318.0
24                Pologne   630478.0   625363.0   620308.0    611855.0
25               Portugal  1221227.0  1197532.0  1176104.0   1160656.0
26               Roumanie        NaN   182939.0   211210.0    281048.0
27            Royaume-Uni  7762334.0  7923428.0  8039324.0   8406996.0
28     République tchèque   390843.0   387337.0   396156.0    416454.0
29              Slovaquie   156883.0   158164.0   174908.0    177624.0
30               Slovénie   230109.0   232703.0   235310.0    237616.0
31                 Suisse  2033702.0  2102964.0  2183206.0   2258196.0
32                  Suède  1426402.0  1472353.0  1532563.0   1602522.0
33                Türkiye        NaN        NaN        NaN         NaN

année        2016        2017        2018        2019        2020        2021  \
0      10908255.0  12105436.0  13745843.0  14879635.0  15040708.0  15162728.0
1       1588209.0   1649008.0   1690619.0   1722833.0   1760595.0   1792053.0
2       1845631.0   1876726.0   1916272.0   1968060.0   2027763.0   2065727.0
3        131924.0    139655.0    149096.0    162346.0    176321.0    188519.0
4        172808.0    173791.0    181369.0    185528.0    191415.0    200936.0
5        526279.0    512411.0    496265.0    488393.0    486390.0    478056.0
6        636666.0    668090.0    690549.0    707880.0    715936.0    721135.0
7      45867619.0  48056139.0  50682392.0  53218758.0  54838252.0  55605911.0
8       5913165.0   6014708.0   6207509.0   6549309.0   7014753.0   7254797.0
9        193813.0    192535.0    196207.0    197896.0    198306.0    198243.0
10       329219.0    348986.0    363717.0    377360.0    393555.0    408676.0
11      8028227.0   8098872.0   8199663.0   8368280.0   8473346.0   8548924.0
12      1220395.0   1250863.0   1277861.0   1307471.0   1348174.0   1361720.0
13       503787.0    513649.0    536182.0    564761.0    593937.0    597440.0
14       773649.0    936883.0    957976.0    990469.0   1022915.0   1030012.0
15        41853.0     46080.0     53540.0     59999.0     65205.0     67438.0
16      5656510.0   5770263.0   5888837.0   6069000.0   6161391.0   6262207.0
17       258889.0    251465.0    246040.0    241754.0    236953.0    230095.0
18        24241.0     24634.0     25098.0     25561.0     26081.0     26560.0
19       126264.0    124964.0    132127.0    148679.0    153697.0    155586.0
20       260573.0    270010.0    280151.0    290644.0    301688.0    309164.0
21        61525.0     69437.0     83245.0     99436.0    118994.0    119556.0
22       778764.0    806618.0    829705.0    849354.0    867778.0    878153.0
23      2056520.0   2137234.0   2215849.0   2298705.0   2399804.0   2451157.0
24       626396.0    651845.0    695850.0    760849.0    849320.0    935740.0
25      1170320.0   1200249.0   1236888.0   1307266.0   1416498.0   1495524.0
26       347344.0    419238.0    510526.0    611627.0    723913.0    688697.0
27      8696511.0   9298018.0   9512464.0   9469015.0   9469015.0   9469015.0
28       433290.0    465056.0    467580.0    507051.0    533639.0    409220.0
29       181642.0    186217.0    190308.0    194389.0    198429.0    201941.0
30       241203.0    245369.0    250226.0    265072.0    281621.0    292824.0
31      2324461.0   2391480.0   2432519.0   2469381.0   2509692.0   2553225.0
32      1675116.0   1783179.0   1875637.0   1954065.0   2018191.0   2045234.0
33            NaN         NaN         NaN   2278490.0   2278490.0   2278490.0

année        2022        2023
0      15287650.0  16476370.0
1       1834342.0   1963312.0
2       2119691.0   2246910.0
3        142214.0    168595.0
4        205798.0    208843.0
5        472308.0    490555.0
6        745851.0    804061.0
7      55845177.0  59949766.0
8       7468144.0   8204206.0
9        200583.0    234743.0
10       428409.0    461205.0
11      8667201.0   8942059.0
12      1198086.0   1173236.0
13       612618.0    644496.0
14      1050907.0   1150590.0
15        71767.0     82227.0
16      6161003.0   6417206.0
17       223631.0    241096.0
18        26971.0     27435.0
19       168787.0    231822.0
20       318568.0    333085.0
21       122742.0    153361.0
22       906843.0    965546.0
23      2550837.0   2776950.0
24       931158.0    933118.0
25      1568066.0   1733067.0
26       688697.0    529974.0
27      9469015.0   9469015.0
28       453424.0    764171.0
29       213171.0    213178.0
30       294533.0    309289.0
31      2598146.0   2662038.0
32      2089008.0   2144268.0
33      2278490.0   2278490.0

In [9]:
# Regrouper par année pour chaque pays
for year in range(2013, 2024):  # De 2013 à 2023
    print(f"Données pour l'année {year}:")
    
    # Sélectionner uniquement les colonnes pertinentes
    df_year = df_pivoted[['pays', str(year)]]
    df_year.rename(columns={str(year): 'valeur'}, inplace=True)

     # Réinitialiser l'index pour éviter les indices numériques
    df_year.reset_index(drop=True, inplace=True)
    
    # Afficher les données
    print(df_year.head())  # Utiliser head() pour afficher les premières lignes
    print("\n")  # Ajoute un saut de ligne pour la lisibilité

Données pour l'année 2013:
année       pays     valeur
0      Allemagne  9456225.0
1       Autriche  1364003.0
2       Belgique  1722265.0
3       Bulgarie    95180.0
4         Chypre   200842.0


Données pour l'année 2014:
année       pays     valeur
0      Allemagne  9807877.0
1       Autriche  1414215.0
2       Belgique  1748748.0
3       Bulgarie   107275.0
4         Chypre   191587.0


Données pour l'année 2015:
année       pays      valeur
0      Allemagne  10220418.0
1       Autriche   1483123.0
2       Belgique   1783488.0
3       Bulgarie    120635.0
4         Chypre    176693.0


Données pour l'année 2016:
année       pays      valeur
0      Allemagne  10908255.0
1       Autriche   1588209.0
2       Belgique   1845631.0
3       Bulgarie    131924.0
4         Chypre    172808.0


Données pour l'année 2017:
année       pays      valeur
0      Allemagne  12105436.0
1       Autriche   1649008.0
2       Belgique   1876726.0
3       Bulgarie    139655.0
4         Chypre    173791.0


Données pour l'année 2018:
année       pays      valeur
0      Allemagne  13745843.0
1       Autriche   1690619.0
2       Belgique   1916272.0
3       Bulgarie    149096.0
4         Chypre    181369.0


Données pour l'année 2019:
année       pays      valeur
0      Allemagne  14879635.0
1       Autriche   1722833.0
2       Belgique   1968060.0
3       Bulgarie    162346.0
4         Chypre    185528.0


Données pour l'année 2020:
année       pays      valeur
0      Allemagne  15040708.0
1       Autriche   1760595.0
2       Belgique   2027763.0
3       Bulgarie    176321.0
4         Chypre    191415.0


Données pour l'année 2021:
année       pays      valeur
0      Allemagne  15162728.0
1       Autriche   1792053.0
2       Belgique   2065727.0
3       Bulgarie    188519.0
4         Chypre    200936.0


Données pour l'année 2022:
année       pays      valeur
0      Allemagne  15287650.0
1       Autriche   1834342.0
2       Belgique   2119691.0
3       Bulgarie    142214.0
4         Chypre    205798.0


Données pour l'année 2023:
année       pays      valeur
0      Allemagne  16476370.0
1       Autriche   1963312.0
2       Belgique   2246910.0
3       Bulgarie    168595.0
4         Chypre    208843.0

C:\Users\hp\AppData\Local\Temp\ipykernel_11804\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_11804\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_11804\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_11804\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_11804\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_11804\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_11804\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_11804\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_11804\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_11804\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_11804\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)

In [10]:
for year in range(2013, 2024):  # De 2013 à 2023
    # Récupérer les données pour l'année spécifique
    df_year = df_pivoted[['pays', str(year)]].copy()  # Créer une copie explicite
    df_year.rename(columns={str(year): 'valeur'}, inplace=True)
    
    # Enregistrer le DataFrame dans un fichier CSV
    file_name = f"population_par_pays_de_naissance_donnees_{year}.csv"  # Nom du fichier pour l'année
    df_year.to_csv(file_name, index=False, encoding='utf-8')
    print(f"Fichier CSV généré : {file_name}")

Fichier CSV généré : population_par_pays_de_naissance_donnees_2013.csv
Fichier CSV généré : population_par_pays_de_naissance_donnees_2014.csv
Fichier CSV généré : population_par_pays_de_naissance_donnees_2015.csv
Fichier CSV généré : population_par_pays_de_naissance_donnees_2016.csv
Fichier CSV généré : population_par_pays_de_naissance_donnees_2017.csv
Fichier CSV généré : population_par_pays_de_naissance_donnees_2018.csv
Fichier CSV généré : population_par_pays_de_naissance_donnees_2019.csv
Fichier CSV généré : population_par_pays_de_naissance_donnees_2020.csv
Fichier CSV généré : population_par_pays_de_naissance_donnees_2021.csv
Fichier CSV généré : population_par_pays_de_naissance_donnees_2022.csv
Fichier CSV généré : population_par_pays_de_naissance_donnees_2023.csv