# Population et conditions sociales

## Population (niveau national) (t_demo_pop)

### Population au 1er janvier (tps00001)

#### Description de l'API
Le nombre de personnes ayant leur résidence habituelle dans un pays au 1er janvier de l'année respective. Lorsque la population résidente habituelle n'est pas disponible, les pays peuvent rapporter les résidents légaux ou enregistrés.

### Dimensions du Dataset

- **Fréquence Temporelle**
  - Type : Annuel

- **Indicateur Démographique**
  - Type : Population au 1er janvier - total

- **Entité Géopolitique (reporting)**
  - **Entités** :
    - Union européenne - 27 pays (depuis 2020)
    - Zone euro – 20 pays (depuis 2023)
    - Zone euro - 19 pays (2015-2022)
    - Belgique
    - Bulgarie
    - République tchèque
    - Danemark
    - Allemagne
    - Estonie
    - Irlande
    - Grèce
    - Espagne
    - France
    - France métropolitaine
    - Croatie
    - Italie
    - Chypre
    - Lettonie
    - Lituanie
    - Luxembourg
    - Hongrie
    - Malte
    - Pays-Bas
    - Autriche
    - Pologne
    - Portugal
    - Roumanie
    - Slovénie
    - Slovaquie
    - Finlande
    - Suède
    - Islande
    - Liechtenstein
    - Norvège
    - Suisse
    - Royaume-Uni
    - Bosnie-Herzégovine
    - Monténégro
    - Moldavie
    - Macédoine du Nord
    - Géorgie
    - Albanie
    - Serbie
    - Türkiye
    - Ukraine
    - Kosovo*
    - Andorre
    - Biélorussie
    - Monaco
    - Russie
    - Saint-Marin
    - Arménie
    - Azerbaïdjan

- **Temps**
  - **Années** :
    - 2013
    - 2014
    - 2015
    - 2016
    - 2017
    - 2018
    - 2019
    - 2020
    - 2021
    - 2022
    - 2023
    - 2024

In [49]:
#Préparation des bibliothèques nécessaires
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, accuracy_score
import statsmodels.api as sm
from scipy import stats
import requests
import eurostat

In [50]:
df = eurostat.get_data_df('tps00001')
df.columns

Index(['freq', 'indic_de', 'geo\TIME_PERIOD', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024'],
      dtype='object')

In [51]:
df.head()

,freq,indic_de,geo\TIME_PERIOD,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,A,JAN,AD,76246.0,NaN,NaN,71732.0,NaN,74794.0,76177.0,77543.0,NaN,79535.0,81588.0,85101.0
1,A,JAN,AL,2897770.0,2892394.0,2885796.0,2875592.0,2876591.0,2870324.0,2862427.0,2845955.0,2829741.0,2793592.0,2761785.0,NaN
2,A,JAN,AM,3026878.0,3017079.0,3010598.0,2998577.0,2986151.0,2972732.0,2965269.0,2959694.0,2963251.0,NaN,2977130.0,2991202.0
3,A,JAN,AT,8451860.0,8507786.0,8584926.0,8700471.0,8772865.0,8822267.0,8858775.0,8901064.0,8932664.0,8978929.0,9104772.0,9158750.0
4,A,JAN,AZ,9356483.0,9477119.0,9593038.0,9705643.0,9809981.0,9898085.0,9981457.0,10067108.0,10119133.0,10156366.0,10127145.0,10180770.0

In [52]:
# Dictionnaire des abréviations et noms des pays en français
eurostat_dictionary = {
    'BE': 'Belgique',
    'BG': 'Bulgarie',
    'CZ': 'République tchèque',
    'DK': 'Danemark',
    'DE': 'Allemagne',
    'EE': 'Estonie',
    'IE': 'Irlande',
    'EL': 'Grèce',
    'ES': 'Espagne',
    'FR': 'France',
    'FX': 'France métropolitaine',
    'HR': 'Croatie',
    'IT': 'Italie',
    'CY': 'Chypre',
    'LV': 'Lettonie',
    'LT': 'Lituanie',
    'LU': 'Luxembourg',
    'HU': 'Hongrie',
    'MT': 'Malte',
    'NL': 'Pays-Bas',
    'AT': 'Autriche',
    'PL': 'Pologne',
    'PT': 'Portugal',
    'RO': 'Roumanie',
    'SI': 'Slovénie',
    'SK': 'Slovaquie',
    'FI': 'Finlande',
    'SE': 'Suède',
    'IS': 'Islande',
    'LI': 'Liechtenstein',
    'NO': 'Norvège',
    'CH': 'Suisse',
    'UK': 'Royaume-Uni',
    'BA': 'Bosnie-Herzégovine',
    'ME': 'Monténégro',
    'MD': 'Moldavie',
    'MK': 'Macédoine du Nord',
    'GE': 'Géorgie',
    'AL': 'Albanie',
    'RS': 'Serbie',
    'TR': 'Türkiye',
    'UA': 'Ukraine',
    'XK': 'Kosovo*',
    'AD': 'Andorre',
    'BY': 'Biélorussie',
    'MC': 'Monaco',
    'RU': 'Russie',
    'SM': 'Saint-Marin',
    'AM': 'Arménie',
    'AZ': 'Azerbaïdjan',
}
# Renommer la colonne 'geo\\time' en 'geo'
df.rename({'geo\\TIME_PERIOD': 'geo'}, inplace=True, axis=1)
# Créer une nouvelle colonne 'pays' avec les noms des pays
df['pays'] = df['geo'].replace(eurostat_dictionary)
print(df.head())

  freq indic_de geo       2013       2014       2015       2016       2017  \
0    A      JAN  AD    76246.0        NaN        NaN    71732.0        NaN
1    A      JAN  AL  2897770.0  2892394.0  2885796.0  2875592.0  2876591.0
2    A      JAN  AM  3026878.0  3017079.0  3010598.0  2998577.0  2986151.0
3    A      JAN  AT  8451860.0  8507786.0  8584926.0  8700471.0  8772865.0
4    A      JAN  AZ  9356483.0  9477119.0  9593038.0  9705643.0  9809981.0

        2018       2019        2020        2021        2022        2023  \
0    74794.0    76177.0     77543.0         NaN     79535.0     81588.0
1  2870324.0  2862427.0   2845955.0   2829741.0   2793592.0   2761785.0
2  2972732.0  2965269.0   2959694.0   2963251.0         NaN   2977130.0
3  8822267.0  8858775.0   8901064.0   8932664.0   8978929.0   9104772.0
4  9898085.0  9981457.0  10067108.0  10119133.0  10156366.0  10127145.0

         2024         pays
0     85101.0      Andorre
1         NaN      Albanie
2   2991202.0      Arménie
3   9158750.0     Autriche
4  10180770.0  Azerbaïdjan

In [53]:
# Pivoter le DataFrame jusqu'à 2023
df_melted = df.melt(id_vars=['pays', 'freq', 'indic_de'], 
                    value_vars=[str(year) for year in range(2013, 2024)],  # Changer 2025 à 2024
                    var_name='année', value_name='valeur')

# Pivoter pour obtenir le format désiré
df_pivoted = df_melted.pivot_table(index='pays', columns='année', values='valeur', aggfunc='first')

# Remplacer NaN par la dernière valeur disponible (forward fill)
df_pivoted.fillna(method='ffill', inplace=True)

# Réinitialiser l'index pour avoir un DataFrame standard
df_pivoted.reset_index(inplace=True)

# Afficher le résultat
print(df_pivoted)

année                   pays         2013         2014         2015  \
0                    Albanie    2897770.0    2892394.0    2885796.0
1                  Allemagne   80523746.0   80767463.0   81197537.0
2                    Andorre      76246.0   80767463.0   81197537.0
3                    Arménie    3026878.0    3017079.0    3010598.0
4                   Autriche    8451860.0    8507786.0    8584926.0
5                Azerbaïdjan    9356483.0    9477119.0    9593038.0
6                   Belgique   11137974.0   11180840.0   11237274.0
7                Biélorussie    9463840.0    9468154.0    9480868.0
8         Bosnie-Herzégovine    3835645.0    3830911.0    3825334.0
9                   Bulgarie    7202556.0    7117453.0    7029690.0
10                    Chypre     865878.0     858000.0     847008.0
11                   Croatie    4247803.0    4217632.0    4180915.0
12                  Danemark    5602628.0    5627235.0    5659715.0
13                      EA19  336640095.0  337331059.0  338062958.0
14                      EA20  340887898.0  341548691.0  342243873.0
15                 EU27_2020  441742959.0  442266046.0  442911027.0
16                   Espagne   46712650.0   46495744.0   46425722.0
17                   Estonie    1320174.0    1315819.0    1314870.0
18                  Finlande    5426674.0    5451270.0    5471753.0
19                    France   65600350.0   66165980.0   66458153.0
20     France métropolitaine   63697865.0   66165980.0   66458153.0
21                     Grèce   11003615.0   10926807.0   10858018.0
22                   Géorgie   11003615.0    4490498.0    3729500.0
23                   Hongrie    9895250.0    9850217.0    9815858.0
24                   Irlande    4609779.0    4637852.0    4677627.0
25                   Islande     321857.0     325671.0     329100.0
26                    Italie   60277309.0   60345917.0   60295497.0
27                   Kosovo*    1815606.0    1820631.0    1804944.0
28                  Lettonie    2023825.0    2001468.0    1986096.0
29             Liechtenstein      36838.0      37129.0      37366.0
30                  Lituanie    2974637.0    2947862.0    2926644.0
31                Luxembourg     537039.0     549680.0     562958.0
32         Macédoine du Nord    2062294.0    2065769.0    2069172.0
33                     Malte     421464.0     428156.0     438805.0
34                  Moldavie    3559497.0    3557634.0    3555159.0
35                    Monaco    3559497.0    3557634.0      37700.0
36                Monténégro     620893.0     621521.0     622099.0
37                   Norvège    5051275.0    5109056.0    5165802.0
38                  Pays-Bas   16779575.0   16829289.0   16900726.0
39                   Pologne   38062535.0   38017856.0   38005614.0
40                  Portugal   10503889.0   10444092.0   10395121.0
41                  Roumanie   20020074.0   19947311.0   19870647.0
42               Royaume-Uni   63905342.0   64351203.0   64853393.0
43                    Russie   63905342.0  143666931.0   64853393.0
44        République tchèque   10516125.0   10512419.0   10538275.0
45               Saint-Marin      33562.0      32520.0      32789.0
46                    Serbie    7181505.0    7146759.0    7114393.0
47                 Slovaquie    5410836.0    5415949.0    5421349.0
48                  Slovénie    2058821.0    2061085.0    2062874.0
49                    Suisse    8039060.0    8139631.0    8237666.0
50                     Suède    9555893.0    9644864.0    9747355.0
51                   Türkiye   75627384.0   76667864.0   77695904.0
52                   Ukraine   45372692.0   45245894.0   42759661.0

année         2016         2017         2018         2019         2020  \
0        2875592.0    2876591.0    2870324.0    2862427.0    2845955.0
1       82175684.0   82521653.0   82792351.0   83019213.0   83166711.0
2          71732.0   82521653.0      74794.0      76177.0      77543.0
3        2998577.0    2986151.0    2972732.0    2965269.0    2959694.0
4        8700471.0    8772865.0    8822267.0    8858775.0    8901064.0
5        9705643.0    9809981.0    9898085.0    9981457.0   10067108.0
6       11311117.0   11351727.0   11398589.0   11455519.0   11522440.0
7        9498364.0    9504704.0    9491823.0    9475174.0    9408350.0
8        3515982.0    3509728.0    3500295.0    3492018.0    9408350.0
9        6938759.0    6849518.0    6757418.0    6664177.0    6569275.0
10        848319.0     854802.0     864236.0     875899.0     888005.0
11       4131115.0    4078769.0    4014341.0    3968676.0    3933511.0
12       5707251.0    5748769.0    5781190.0    5806081.0    5822763.0
13     339298392.0  340047730.0  340779942.0  341729168.0  342692171.0
14     343429507.0  344126499.0  344794283.0  345697844.0  346625682.0
15     443987823.0  444655529.0  445287011.0  446135629.0  447015600.0
16      46418884.0   46497393.0   46645070.0   46918951.0   47318050.0
17       1315944.0    1315635.0    1319133.0    1324820.0    1328976.0
18       5487308.0    5503297.0    5513130.0    5517919.0    5525292.0
19      66638391.0   66809816.0   67026224.0   67290471.0   67473651.0
20      66638391.0   66809816.0   67026224.0   67290471.0   67473651.0
21      10783748.0   10768193.0   10741165.0   10724599.0   10718565.0
22       3720400.0    3718200.0    3729633.0    3723464.0    3716858.0
23       9779652.0    9739857.0    9713655.0    9700272.0    9689376.0
24       4726286.0    4799157.0    4855733.0    4940311.0    5012600.0
25        332529.0     338349.0     348450.0     356991.0     364134.0
26      60163712.0   60066734.0   59937769.0   59816673.0   59641488.0
27       1771604.0    1783531.0    1798506.0    1795666.0    1782115.0
28       1968957.0    1950116.0    1934379.0    1919968.0    1907675.0
29         37622.0      37810.0      38114.0      38378.0      38747.0
30       2895573.0    2859077.0    2826200.0    2812200.0    2809977.0
31        576249.0     590667.0     602005.0     613894.0     626108.0
32       2071278.0    2073702.0    2075301.0    2077132.0    2076255.0
33        449635.0     459375.0     474837.0     492968.0     514855.0
34       2846327.0    2825628.0    2780744.0    2729634.0    2684772.0
35         38200.0    2825628.0      38300.0      38300.0    2684772.0
36        622218.0     622387.0     622359.0     622182.0     621873.0
37       5213985.0    5258317.0    5295619.0    5328212.0    5367580.0
38      16979120.0   17081507.0   17181084.0   17282163.0   17407585.0
39      37967209.0   37972964.0   37976687.0   37972812.0   37958138.0
40      10368554.0   10344478.0   10335770.0   10333496.0   10375395.0
41      19760585.0   19643949.0   19533481.0   19414458.0   19328838.0
42      65379044.0   65844142.0   66273576.0   66647112.0   67025542.0
43      65379044.0   65844142.0   66273576.0   66647112.0   67025542.0
44      10553843.0   10578820.0   10610055.0   10649800.0   10693939.0
45         33005.0      33196.0      34453.0      34590.0      34735.0
46       7076372.0    7040272.0    7001444.0    6963764.0    6926705.0
47       5426252.0    5435343.0    5443120.0    5450421.0    5457873.0
48       2064188.0    2065895.0    2066880.0    2080908.0    2095861.0
49       8327126.0    8419550.0    8484130.0    8544527.0    8606033.0
50       9851017.0    9995153.0   10120242.0   10230185.0   10327589.0
51      78741053.0   79814871.0   80810525.0   82003882.0   83154997.0
52      42590879.0   42414905.0   42216766.0   41983564.0   41732779.0

année         2021         2022         2023
0        2829741.0    2793592.0    2761785.0
1       83155031.0   83237124.0   84358845.0
2       83155031.0      79535.0      81588.0
3        2963251.0      79535.0    2977130.0
4        8932664.0    8978929.0    9104772.0
5       10119133.0   10156366.0   10127145.0
6       11554767.0   11617623.0   11742796.0
7       11554767.0   11617623.0   11742796.0
8       11554767.0    3464384.0    3441194.0
9        6532117.0    6482484.0    6447710.0
10        896007.0     904705.0     920701.0
11       3893026.0    3862305.0    3850894.0
12       5840045.0    5873420.0    5932654.0
13     342806743.0  343107513.0  345814707.0
14     346699769.0  346969818.0  349665601.0
15     445872542.0  445837374.0  448803078.0
16      47400798.0   47486843.0   48085361.0
17       1330068.0    1331796.0    1365884.0
18       5533793.0    5548241.0    5563970.0
19      67728568.0   67957053.0   68172977.0
20      67728568.0   67957053.0   68172977.0
21      10678632.0   10459782.0   10413982.0
22       3728573.0    3688647.0    3736357.0
23       9651461.0    9610403.0    9599744.0
24       5066893.0    5154277.0    5271395.0
25        368792.0     376248.0     387758.0
26      59236213.0   59030133.0   58997201.0
27       1798186.0    1773971.0   58997201.0
28       1893223.0    1875757.0    1883008.0
29         39055.0      39308.0      39677.0
30       2810761.0    2805998.0    2857279.0
31        634730.0     645397.0     660809.0
32       2068808.0    1837114.0    1829954.0
33        516125.0     520174.0     542051.0
34       2643675.0    2565030.0    2512758.0
35       2643675.0    2565030.0    2512758.0
36        620739.0     617683.0     616695.0
37       5391369.0    5425270.0    5488984.0
38      17475415.0   17590672.0   17811291.0
39      37073357.0   36889761.0   36753736.0
40      10394297.0   10421117.0   10516621.0
41      19201662.0   19042455.0   19054548.0
42      19201662.0   19042455.0   19054548.0
43      19201662.0   19042455.0   19054548.0
44      10494836.0   10516707.0   10827529.0
45         34805.0      33698.0      33812.0
46       6871547.0    6797105.0    6641197.0
47       5459781.0    5434712.0    5428792.0
48       2108977.0    2107180.0    2116972.0
49       8670300.0    8738791.0    8815385.0
50      10379295.0   10452326.0   10521556.0
51      83614362.0   84680273.0   85279553.0
52      83614362.0   40997698.0   85279553.0

C:\Users\hp\AppData\Local\Temp\ipykernel_19492\3571238312.py:10: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_pivoted.fillna(method='ffill', inplace=True)

In [54]:
# Regrouper par année pour chaque pays
for year in range(2013, 2024):  # De 2013 à 2023
    print(f"Données pour l'année {year}:")
    
    # Sélectionner uniquement les colonnes pertinentes
    df_year = df_pivoted[['pays', str(year)]]
    df_year.rename(columns={str(year): 'valeur'}, inplace=True)

     # Réinitialiser l'index pour éviter les indices numériques
    df_year.reset_index(drop=True, inplace=True)
    
    # Afficher les données
    print(df_year.head())  # Utiliser head() pour afficher les premières lignes
    print("\n")  # Ajoute un saut de ligne pour la lisibilité

Données pour l'année 2013:
année       pays      valeur
0        Albanie   2897770.0
1      Allemagne  80523746.0
2        Andorre     76246.0
3        Arménie   3026878.0
4       Autriche   8451860.0


Données pour l'année 2014:
année       pays      valeur
0        Albanie   2892394.0
1      Allemagne  80767463.0
2        Andorre  80767463.0
3        Arménie   3017079.0
4       Autriche   8507786.0


Données pour l'année 2015:
année       pays      valeur
0        Albanie   2885796.0
1      Allemagne  81197537.0
2        Andorre  81197537.0
3        Arménie   3010598.0
4       Autriche   8584926.0


Données pour l'année 2016:
année       pays      valeur
0        Albanie   2875592.0
1      Allemagne  82175684.0
2        Andorre     71732.0
3        Arménie   2998577.0
4       Autriche   8700471.0


Données pour l'année 2017:
année       pays      valeur
0        Albanie   2876591.0
1      Allemagne  82521653.0
2        Andorre  82521653.0
3        Arménie   2986151.0
4       Autriche   8772865.0


Données pour l'année 2018:
année       pays      valeur
0        Albanie   2870324.0
1      Allemagne  82792351.0
2        Andorre     74794.0
3        Arménie   2972732.0
4       Autriche   8822267.0


Données pour l'année 2019:
année       pays      valeur
0        Albanie   2862427.0
1      Allemagne  83019213.0
2        Andorre     76177.0
3        Arménie   2965269.0
4       Autriche   8858775.0


Données pour l'année 2020:
année       pays      valeur
0        Albanie   2845955.0
1      Allemagne  83166711.0
2        Andorre     77543.0
3        Arménie   2959694.0
4       Autriche   8901064.0


Données pour l'année 2021:
année       pays      valeur
0        Albanie   2829741.0
1      Allemagne  83155031.0
2        Andorre  83155031.0
3        Arménie   2963251.0
4       Autriche   8932664.0


Données pour l'année 2022:
année       pays      valeur
0        Albanie   2793592.0
1      Allemagne  83237124.0
2        Andorre     79535.0
3        Arménie     79535.0
4       Autriche   8978929.0


Données pour l'année 2023:
année       pays      valeur
0        Albanie   2761785.0
1      Allemagne  84358845.0
2        Andorre     81588.0
3        Arménie   2977130.0
4       Autriche   9104772.0

C:\Users\hp\AppData\Local\Temp\ipykernel_19492\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_19492\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_19492\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_19492\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_19492\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_19492\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_19492\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_19492\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_19492\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_19492\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_19492\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)

Vous pouvez effectuer la modification de colonne directement après avoir créé le DataFrame ou utiliser .copy() lors de l'extraction pour s'assurer que vous travaillez avec une copie explicite. Voici comment vous pouvez procéder

In [55]:
for year in range(2013, 2024):  # De 2013 à 2023
    # Récupérer les données pour l'année spécifique
    df_year = df_pivoted[['pays', str(year)]].copy()  # Créer une copie explicite
    df_year.rename(columns={str(year): 'valeur'}, inplace=True)
    
    # Enregistrer le DataFrame dans un fichier CSV
    file_name = f"donnees_{year}.csv"  # Nom du fichier pour l'année
    df_year.to_csv(file_name, index=False, encoding='utf-8')
    print(f"Fichier CSV généré : {file_name}")

Fichier CSV généré : donnees_2013.csv
Fichier CSV généré : donnees_2014.csv
Fichier CSV généré : donnees_2015.csv
Fichier CSV généré : donnees_2016.csv
Fichier CSV généré : donnees_2017.csv
Fichier CSV généré : donnees_2018.csv
Fichier CSV généré : donnees_2019.csv
Fichier CSV généré : donnees_2020.csv
Fichier CSV généré : donnees_2021.csv
Fichier CSV généré : donnees_2022.csv
Fichier CSV généré : donnees_2023.csv