# Population et conditions sociales

## Population (niveau national) (t_demo_pop)

### Population par citoyenneté - Etrangers (tps00157)

#### Description de l'API
Nombre de personnes n'ayant pas la nationalité du pays dans lequel elles résident (le pays déclarant), y compris les citoyens d'autres États membres de l'UE, les citoyens de pays non membres de l'UE ainsi que les apatrides, résidant habituellement dans le pays déclarant au 1er janvier de l'année concernée.

### Dimensions du Dataset

- **Fréquence Temporelle**
  - Type : Annuel

- **Pays de Nationalité**
  - Type : Étranger et apatrides

- **Unité de Mesure**
  - Type : Nombre

- **Entité Géopolitique (reporting)**
  - **Entités** :
    - Union européenne - 27 pays (depuis 2020)
    - Zone euro – 20 pays (depuis 2023)
    - Zone euro - 19 pays (2015-2022)
    - Belgique
    - Bulgarie
    - République tchèque
    - Danemark
    - Allemagne
    - Estonie
    - Irlande
    - Grèce
    - Espagne
    - France
    - France métropolitaine
    - Croatie
    - Italie
    - Chypre
    - Lettonie
    - Lituanie
    - Luxembourg
    - Hongrie
    - Malte
    - Pays-Bas
    - Autriche
    - Pologne
    - Portugal
    - Roumanie
    - Slovénie
    - Slovaquie
    - Finlande
    - Suède
    - Islande
    - Liechtenstein
    - Norvège
    - Suisse
    - Royaume-Uni
    - Bosnie-Herzégovine
    - Monténégro
    - Moldavie
    - Macédoine du Nord
    - Géorgie
    - Albanie
    - Serbie
    - Türkiye
    - Ukraine
    - Kosovo*
    - Andorre
    - Biélorussie
    - Monaco
    - Russie
    - Saint-Marin
    - Arménie
    - Azerbaïdjan

- **Temps**
  - **Années** :
    - 2013
    - 2014
    - 2015
    - 2016
    - 2017
    - 2018
    - 2019
    - 2020
    - 2021
    - 2022
    - 2023
    - 2024

In [1]:
#Préparation des bibliothèques nécessaires
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, accuracy_score
import statsmodels.api as sm
from scipy import stats
import requests
import eurostat

In [2]:
df = eurostat.get_data_df('tps00157')
df.columns

Index(['freq', 'citizen', 'age', 'unit', 'sex', 'geo\TIME_PERIOD', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022', '2023'],
      dtype='object')

In [3]:
df.head()

,freq,citizen,age,unit,sex,geo\TIME_PERIOD,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,A,FOR_STLS,TOTAL,NR,T,AT,946610.0,999095.0,1060446.0,1139736.0,1260188.0,1333239.0,1385823.0,1427105.0,1473453.0,1517372.0,1572316.0,1714698.0
1,A,FOR_STLS,TOTAL,NR,T,BE,1197598.0,1222741.0,1237696.0,1272751.0,1327421.0,1346358.0,1366070.0,1400238.0,1437580.0,1454039.0,1488896.0,1589004.0
2,A,FOR_STLS,TOTAL,NR,T,BG,39432.0,44506.0,53253.0,63879.0,71491.0,76562.0,82370.0,91243.0,100768.0,108438.0,63861.0,83715.0
3,A,FOR_STLS,TOTAL,NR,T,CH,1815063.0,1869070.0,1936412.0,1997179.0,2047200.0,2099319.0,2124540.0,2146381.0,2173429.0,2208864.0,2242343.0,2294345.0
4,A,FOR_STLS,TOTAL,NR,T,CY,172427.0,170076.0,159336.0,144599.0,139606.0,140384.0,149168.0,155610.0,161005.0,165561.0,170061.0,183505.0

In [12]:
# Dictionnaire des abréviations et noms des pays en français
eurostat_dictionary = {
    
  'BE': 'Belgique',
    'BG': 'Bulgarie',
    'CZ': 'République tchèque',
    'DK': 'Danemark',
    'DE': 'Allemagne',
    'EE': 'Estonie',
    'IE': 'Irlande',
    'EL': 'Grèce',
    'ES': 'Espagne',
    'FR': 'France',
    'HR': 'Croatie',
    'IT': 'Italie',
    'CY': 'Chypre',
    'LV': 'Lettonie',
    'LT': 'Lituanie',
    'LU': 'Luxembourg',
    'HU': 'Hongrie',
    'MT': 'Malte',
    'NL': 'Pays-Bas',
    'AT': 'Autriche',
    'PL': 'Pologne',
    'PT': 'Portugal',
    'RO': 'Roumanie',
    'SI': 'Slovénie',
    'SK': 'Slovaquie',
    'FI': 'Finlande',
    'SE': 'Suède',
    'IS': 'Islande',
    'LI': 'Liechtenstein',
    'NO': 'Norvège',
    'CH': 'Suisse',
    'UK': 'Royaume-Uni',
    'ME': 'Monténégro',
    'MD': 'Moldavie',
    'MK': 'Macédoine du Nord',
    'AL': 'Albanie',
    'RS': 'Serbie',
    'TR': 'Türkiye',
    'AD': 'Andorre',
    
}
# Renommer la colonne 'geo\\time' en 'geo'
df.rename({'geo\\TIME_PERIOD': 'geo'}, inplace=True, axis=1)
# Créer une nouvelle colonne 'pays' avec les noms des pays
df['pays'] = df['geo'].replace(eurostat_dictionary)
print(df.head())

  freq   citizen    age unit sex geo       2012       2013       2014  \
0    A  FOR_STLS  TOTAL   NR   T  AT   946610.0   999095.0  1060446.0
1    A  FOR_STLS  TOTAL   NR   T  BE  1197598.0  1222741.0  1237696.0
2    A  FOR_STLS  TOTAL   NR   T  BG    39432.0    44506.0    53253.0
3    A  FOR_STLS  TOTAL   NR   T  CH  1815063.0  1869070.0  1936412.0
4    A  FOR_STLS  TOTAL   NR   T  CY   172427.0   170076.0   159336.0

        2015       2016       2017       2018       2019       2020  \
0  1139736.0  1260188.0  1333239.0  1385823.0  1427105.0  1473453.0
1  1272751.0  1327421.0  1346358.0  1366070.0  1400238.0  1437580.0
2    63879.0    71491.0    76562.0    82370.0    91243.0   100768.0
3  1997179.0  2047200.0  2099319.0  2124540.0  2146381.0  2173429.0
4   144599.0   139606.0   140384.0   149168.0   155610.0   161005.0

        2021       2022       2023      pays
0  1517372.0  1572316.0  1714698.0  Autriche
1  1454039.0  1488896.0  1589004.0  Belgique
2   108438.0    63861.0    83715.0  Bulgarie
3  2208864.0  2242343.0  2294345.0    Suisse
4   165561.0   170061.0   183505.0    Chypre

In [13]:
# Pivoter le DataFrame jusqu'à 2023
df_melted = df.melt(id_vars=['pays', 'freq', 'citizen', 'age', 'unit', 'sex', 'geo'], 
                    value_vars=[str(year) for year in range(2012, 2024)],  # Changer 2025 à 2024
                    var_name='année', value_name='valeur')

# Pivoter pour obtenir le format désiré
df_pivoted = df_melted.pivot_table(index='pays', columns='année', values='valeur', aggfunc='first')

# Remplacer NaN par la dernière valeur disponible pour chaque pays (forward fill)
df_pivoted = df_pivoted.ffill(axis=1)

# Réinitialiser l'index pour avoir un DataFrame standard
df_pivoted.reset_index(inplace=True)

# Afficher le résultat
print(df_pivoted)

année                pays       2012       2013       2014        2015  \
0               Allemagne  6342394.0  6643699.0  7015236.0   7539774.0
1                Autriche   946610.0   999095.0  1060446.0   1139736.0
2                Belgique  1197598.0  1222741.0  1237696.0   1272751.0
3                Bulgarie    39432.0    44506.0    53253.0     63879.0
4                  Chypre   172427.0   170076.0   159336.0    144599.0
5                 Croatie        NaN    24142.0    23801.0     24125.0
6                Danemark   358714.0   374569.0   397221.0    422492.0
7               EU27_2020        NaN        NaN        NaN  29542079.0
8                 Espagne  5236030.0  5064584.0  4676352.0   4453985.0
9                 Estonie   206558.0   197141.0   194917.0    197611.0
10               Finlande   181697.0   194250.0   206651.0    218803.0
11                 France  3944725.0  4092106.0  4227226.0   4431376.0
12                  Grèce   921447.0   886450.0   854998.0    821969.0
13                Hongrie   143125.0   141122.0   140301.0    145727.0
14                Irlande   551314.0   537183.0   529055.0    532196.0
15                Islande    20957.0    21446.0    22744.0     24294.0
16                 Italie  4319201.0  4610493.0  4787166.0   4835245.0
17               Lettonie   324288.0   315414.0   304835.0    298433.0
18          Liechtenstein    12144.0    12337.0    12519.0     12579.0
19               Lituanie    22865.0    21498.0    20410.0     20254.0
20             Luxembourg   229870.0   238844.0   248914.0    258679.0
21                  Malte    20302.0    23365.0    29291.0     39173.0
22                Norvège   407171.0   448665.0   483057.0    512024.0
23               Pays-Bas   697741.0   714552.0   735354.0    773288.0
24                Pologne    85829.0    93265.0   101204.0    108279.0
25               Portugal   413011.0   393908.0   377436.0    366869.0
26               Roumanie    73706.0    70666.0    73434.0     88771.0
27            Royaume-Uni  4884405.0  4978600.0  5049401.0   5419192.0
28     République tchèque   422966.0   422280.0   434581.0    457323.0
29              Slovaquie    70727.0    72925.0    59151.0     61766.0
30               Slovénie    85555.0    91385.0    96608.0    101532.0
31                 Suisse  1815063.0  1869070.0  1936412.0   1997179.0
32                  Suède   646095.0   659374.0   687192.0    731215.0

année        2016        2017        2018        2019        2020        2021  \
0       8651958.0   9219989.0   9678868.0  10089292.0  10398022.0  10585053.0
1       1260188.0   1333239.0   1385823.0   1427105.0   1473453.0   1517372.0
2       1327421.0   1346358.0   1366070.0   1400238.0   1437580.0   1454039.0
3         71491.0     76562.0     82370.0     91243.0    100768.0    108438.0
4        139606.0    140384.0    149168.0    155610.0    161005.0    165561.0
5         24231.0     24102.0     24024.0     23878.0     24631.0     26259.0
6        463088.0    484934.0    505934.0    525849.0    537071.0    539443.0
7      31162014.0  32215985.0  33591066.0  34963579.0  36405654.0  37185923.0
8       4419334.0   4417653.0   4577322.0   4850762.0   5241278.0   5402702.0
9        197638.0    196344.0    197160.0    199158.0    199674.0    200450.0
10       228224.0    242003.0    247848.0    256026.0    266079.0    277217.0
11      4544793.0   4605669.0   4950717.0   5042171.0   5173605.0   5302510.0
12       798357.0    810034.0    816059.0    831692.0    906345.0    921485.0
13       156366.0    150885.0    161549.0    180525.0    199707.0    194240.0
14       546050.0    565822.0    583419.0    612579.0    641536.0    644241.0
15        26485.0     30275.0     37830.0     44269.0     49391.0     51283.0
16      4831042.0   4818633.0   4883451.0   4996158.0   5039637.0   5171894.0
17       288946.0    279446.0    272531.0    266625.0    260405.0    252441.0
18        12775.0     12795.0     12941.0     13057.0     13262.0     13467.0
19        19123.0     18665.0     18923.0     20202.0     20680.0     20001.0
20       269175.0    281246.0    288009.0    291265.0    296276.0    299247.0
21        49280.0     58136.0     72897.0     90470.0    111915.0    112662.0
22       538087.0    559059.0    567594.0    584062.0    604362.0    601525.0
23       834786.0    914997.0    991440.0   1068107.0   1154830.0   1171380.0
24       149586.0    210328.0    239230.0    289751.0    358239.0    447442.0
25       360961.0    370080.0    387943.0    441863.0    520487.0    595794.0
26       107187.0    114337.0    114292.0    121099.0    139775.0    144540.0
27      5639712.0   6073524.0   6285974.0   6171948.0   6171948.0   6171948.0
28       476345.0    510841.0    515422.0    557458.0    586646.0    488532.0
29        65840.0     69695.0     72883.0     76116.0     78936.0     82075.0
30       107766.0    114438.0    121875.0    138193.0    156351.0    168651.0
31      2047200.0   2099319.0   2124540.0   2146381.0   2173429.0   2208864.0
32       773232.0    841165.0    885839.0    920144.0    927774.0    892254.0

année        2022        2023
0      10893053.0  12324195.0
1       1572316.0   1714698.0
2       1488896.0   1589004.0
3         63861.0     83715.0
4        170061.0    183505.0
5         35919.0     70195.0
6        562205.0    621118.0
7      37460917.0  41367447.0
8       5509134.0   6089620.0
9        202689.0    236757.0
10       294638.0    321992.0
11      5325512.0   5613788.0
12       747867.0    764786.0
13       202299.0    226073.0
14       657934.0    759091.0
15        54959.0     65033.0
16      5030716.0   5141341.0
17       245009.0    261799.0
18        13527.0     13634.0
19        34310.0     98373.0
20       304008.0    313242.0
21       116380.0    137376.0
22       585964.0    610841.0
23      1230012.0   1422863.0
24       441661.0    435964.0
25       643347.0    785051.0
26       144540.0    212465.0
27      6171948.0   6171948.0
28       538237.0    855088.0
29        60142.0     61347.0
30       172442.0    189796.0
31      2242343.0   2294345.0
32       868193.0    854205.0

In [14]:
# Regrouper par année pour chaque pays
for year in range(2013, 2024):  # De 2013 à 2023
    print(f"Données pour l'année {year}:")
    
    # Sélectionner uniquement les colonnes pertinentes
    df_year = df_pivoted[['pays', str(year)]]
    df_year.rename(columns={str(year): 'valeur'}, inplace=True)

     # Réinitialiser l'index pour éviter les indices numériques
    df_year.reset_index(drop=True, inplace=True)
    
    # Afficher les données
    print(df_year.head())  # Utiliser head() pour afficher les premières lignes
    print("\n")  # Ajoute un saut de ligne pour la lisibilité

Données pour l'année 2013:
année       pays     valeur
0      Allemagne  6643699.0
1       Autriche   999095.0
2       Belgique  1222741.0
3       Bulgarie    44506.0
4         Chypre   170076.0


Données pour l'année 2014:
année       pays     valeur
0      Allemagne  7015236.0
1       Autriche  1060446.0
2       Belgique  1237696.0
3       Bulgarie    53253.0
4         Chypre   159336.0


Données pour l'année 2015:
année       pays     valeur
0      Allemagne  7539774.0
1       Autriche  1139736.0
2       Belgique  1272751.0
3       Bulgarie    63879.0
4         Chypre   144599.0


Données pour l'année 2016:
année       pays     valeur
0      Allemagne  8651958.0
1       Autriche  1260188.0
2       Belgique  1327421.0
3       Bulgarie    71491.0
4         Chypre   139606.0


Données pour l'année 2017:
année       pays     valeur
0      Allemagne  9219989.0
1       Autriche  1333239.0
2       Belgique  1346358.0
3       Bulgarie    76562.0
4         Chypre   140384.0


Données pour l'année 2018:
année       pays     valeur
0      Allemagne  9678868.0
1       Autriche  1385823.0
2       Belgique  1366070.0
3       Bulgarie    82370.0
4         Chypre   149168.0


Données pour l'année 2019:
année       pays      valeur
0      Allemagne  10089292.0
1       Autriche   1427105.0
2       Belgique   1400238.0
3       Bulgarie     91243.0
4         Chypre    155610.0


Données pour l'année 2020:
année       pays      valeur
0      Allemagne  10398022.0
1       Autriche   1473453.0
2       Belgique   1437580.0
3       Bulgarie    100768.0
4         Chypre    161005.0


Données pour l'année 2021:
année       pays      valeur
0      Allemagne  10585053.0
1       Autriche   1517372.0
2       Belgique   1454039.0
3       Bulgarie    108438.0
4         Chypre    165561.0


Données pour l'année 2022:
année       pays      valeur
0      Allemagne  10893053.0
1       Autriche   1572316.0
2       Belgique   1488896.0
3       Bulgarie     63861.0
4         Chypre    170061.0


Données pour l'année 2023:
année       pays      valeur
0      Allemagne  12324195.0
1       Autriche   1714698.0
2       Belgique   1589004.0
3       Bulgarie     83715.0
4         Chypre    183505.0

C:\Users\hp\AppData\Local\Temp\ipykernel_4452\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_4452\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_4452\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_4452\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_4452\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_4452\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_4452\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_4452\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_4452\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_4452\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_4452\2128398066.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_year.rename(columns={str(year): 'valeur'}, inplace=True)

In [15]:
for year in range(2013, 2024):  # De 2013 à 2023
    # Récupérer les données pour l'année spécifique
    df_year = df_pivoted[['pays', str(year)]].copy()  # Créer une copie explicite
    df_year.rename(columns={str(year): 'valeur'}, inplace=True)
    
    # Enregistrer le DataFrame dans un fichier CSV
    file_name = f"population_par_citoyenneté_donnees_{year}.csv"  # Nom du fichier pour l'année
    df_year.to_csv(file_name, index=False, encoding='utf-8')
    print(f"Fichier CSV généré : {file_name}")

Fichier CSV généré : population_par_citoyenneté_donnees_2013.csv
Fichier CSV généré : population_par_citoyenneté_donnees_2014.csv
Fichier CSV généré : population_par_citoyenneté_donnees_2015.csv
Fichier CSV généré : population_par_citoyenneté_donnees_2016.csv
Fichier CSV généré : population_par_citoyenneté_donnees_2017.csv
Fichier CSV généré : population_par_citoyenneté_donnees_2018.csv
Fichier CSV généré : population_par_citoyenneté_donnees_2019.csv
Fichier CSV généré : population_par_citoyenneté_donnees_2020.csv
Fichier CSV généré : population_par_citoyenneté_donnees_2021.csv
Fichier CSV généré : population_par_citoyenneté_donnees_2022.csv
Fichier CSV généré : population_par_citoyenneté_donnees_2023.csv